/*---------------------------------------------------------------------
                               Management-user, artwork, report, invoice,
-----------------------------------------------------------------------*/
.table-responsive {
  scrollbar-width: none;
  height: 370px;
}

.img {
  width: 80px;
  height: 70px;
}

/*---------------------------------------------------------------------
                               Setting-database
-----------------------------------------------------------------------*/
.backup {
  width: 300px;
}

/*---------------------------------------------------------------------
                               Submenu-admin
-----------------------------------------------------------------------*/
.submenu-admin-item:hover {
  background-color: #f8f9fa;
}

.submenu-admin-item.active {
  background-color: #e9deff !important;
  border-left-color: #35058f;
  font-weight: 600;
}

/*---------------------------------------------------------------------
                               Auction room
-----------------------------------------------------------------------*/
.no-scrollbar {
  scrollbar-width: none;
}
/*---------------------------------------------------------------------
                               login
-----------------------------------------------------------------------*/
.bg-gradient-grey-blue {
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
/*---------------------------------------------------------------------
                               Add auction room
-----------------------------------------------------------------------*/
.icon-box {
  width: 40px;
  height: 40px;
}

/*---------------------------------------------------------------------
                               Add auction room
-----------------------------------------------------------------------*/
